@font-face {
  font-family: 'wjs fonts';

  src: url('../fonts/MiFie-Web-Font.eot');
  src: url('../fonts/MiFie-Web-Font.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/MiFie-Web-Font.woff') format('woff'), 
  url('../fonts/MiFie-Web-Font.ttf') format('truetype'), 
  url('../fonts/MiFie-Web-Font.svg#glyphicons_halflingsregular') format('svg');
}
.wjsfont {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'wjs fonts';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wjsfont-logo::before{
  content: '\e920';
}
.wjsfont-name::before{
  content: '\e921';
}

.wjsfont-e903::before{
  content: '\e903';
}
.wjsfont-e901::before{
  content: '\e901';
}
.wjsfont-e904::before{
  content: '\e904';
}
.wjsfont-e905::before{
  content: '\e905';
}
.wjsfont-e902::before{
  content: '\e902';
}

/* 添加 产品列表的 文字样式 */
.wjsfont-e915::before{
  content:'\e915';
}

.wjsfont-new01::before{
    content: "\e90e";
}
.wjsfont-new02::before{
    content: "\e90f";
}
.wjsfont-new03::before{
    content: "\e910";
}
.wjsfont-new04::before{
    content: "\e911";
}

/* 网页 最下方的 合作单位 */
.wjsfont-partner01::before{
    content:"\e946";
}
.wjsfont-partner02::before{
    content: "\e92f";
}
.wjsfont-partner03::before{
    content: "\e92e";
}
.wjsfont-partner04::before{
    content: "\e92a";
}
.wjsfont-partner05::before{
    content: "\e929";
}
.wjsfont-partner06::before{
    content: "\e931";
}
.wjsfont-partner07::before{
    content: "\e92c";
}
.wjsfont-partner08::before{
    content: "\e92b";
}
.wjsfont-partner09::before{
    content: "\e92d";
}
/*导航栏通用样式*/
.wjsbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-bottom: 0px;
}
.wjsbar-default .navbar-brand {
  height: 80px;
  line-height: 50px;
  color: #777;
}
.wjsbar-default .navbar-brand:hover,
.wjsbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjsbar-default .navbar-text {
  color: #777;
}
.wjsbar-default .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
  color: #777;
}
.wjsbar-default .navbar-nav > li > a:hover,
.wjsbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid #f00;
}
.wjsbar-default .navbar-nav > .active > a,
.wjsbar-default .navbar-nav > .active > a:hover,
.wjsbar-default .navbar-nav > .active > a:focus {
  color: #555;
  /*background-color: #777;*/
}
.wjsbar-default .navbar-nav > .disabled > a,
.wjsbar-default .navbar-nav > .disabled > a:hover,
.wjsbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
  /*height: 80px;*/
}
.wjsbar-default .navbar-toggle {
  border-color: #ddd;
  margin-top: 25px;
}
.wjsbar-default .navbar-toggle:hover,
.wjsbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.wjsbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjsbar-default .navbar-collapse,
.wjsbar-default .navbar-form {
  border-color: #e7e7e7;
}
.wjsbar-default .navbar-nav > .open > a,
.wjsbar-default .navbar-nav > .open > a:hover,
.wjsbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjsbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjsbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjsbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjsbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .wjsbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjsbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjsbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjsbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjsbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjsbar-default .navbar-link {
  color: #777;
}
.wjsbar-default .navbar-link:hover {
  color: #333;
}
.wjsbar-default .btn-link {
  color: #777;
}
.wjsbar-default .btn-link:hover,
.wjsbar-default .btn-link:focus {
  color: #333;
}
.wjsbar-default .btn-link[disabled]:hover,
fieldset[disabled] .wjsbar-default .btn-link:hover,
.wjsbar-default .btn-link[disabled]:focus,
fieldset[disabled] .wjsbar-default .btn-link:focus {
  color: #ccc;
}